APP_NAME="File Hosting"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

SESSION_DRIVER=file

CACHE_STORE=null

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=file_hosting
DB_USERNAME=file_hosting_user
DB_PASSWORD=file_hosting_password

QUEUE_CONNECTION=sync

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="service@filehosting.com"
MAIL_FROM_NAME="${APP_NAME}"
MAIL_ADMIN_ADDRESS="admin@filehosting.com"

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=file_hosting_user
RABBITMQ_PASSWORD=file_hosting_password